<p style='text-align:center; font-size: 36px; color:#0B0B23; font-weight: bold;'>Demographic Data Analyzer</p>

In this notebook/project i'm going to analyze some demographic data using Pandas and answer some questions. 

The demographic data was extracted from the 1994 Census database

### Let's start!

First, let's start by importing pandas

In [1]:
import pandas as pd

Then we need to read the file containing the data and convert to a pandas data frame

In [2]:
df = pd.read_csv('data/adult.data.csv')

Nice, now let's see how is the data and some basic informations

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
df.shape

(32561, 15)

Ok, now that we have a good understanding what the data looks like, let's answer some questions

### How many of each race are represented in this dataset?

In [8]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### What is the average age of men?

In [9]:
men = df[df['sex'] == 'Male']
men['age'].mean()

39.43354749885268

### What is the percentage of people who have a Bachelor's degree?

In [10]:
bachelors = df.loc[df['education'] == 'Bachelors']
round(len(bachelors) / len(df) * 100, 1)

16.4

### What percentage of people with advanced education ('Bachelors', 'Masters' or 'Doctorate') make more than 50K?

In [22]:
advanced_education = df.loc[(df['education'] == 'Bachelors') |(df['education'] == 'Masters') | (df['education'] == 'Doctorate')]
higher_education = advanced_education.loc[advanced_education['salary'] == '>50K']
higher_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [12]:
print(f'{round(len(higher_education) / len(advanced_education) * 100, 1)}%')

46.5%

In [23]:
lower_education = df.loc[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')]
lower_education_rich_df = lower_education.loc[lower_education['salary'] == '>50K']
lower_education_rich_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32518,57,Local-gov,110417,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,40,United-States,>50K
32519,46,Private,364548,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,>50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [15]:
print(f'{round(len(lower_education_rich_df) / len(lower_education) * 100, 1)}%')

17.4%

### What is the minimum number of hours a person works per week?

In [30]:
min_work_hours = df['hours-per-week'].min()
print(f"{min_work_hours} hours/week")

1 hours/week

### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [32]:
num_min_workers = df.loc[df['hours-per-week'] == min_work_hours]
print(f"{len(num_min_workers.loc[num_min_workers['salary'] == '>50K']) / len(num_min_workers) * 100}%")

10.0%

### What country has the highest percentage of people that earn >50K?

In [34]:
rich_people = df.loc[df['salary'] == '>50K']
people_country = df['native-country'].value_counts()
rich_people_country = rich_people['native-country'].value_counts()
rich_people_country_per = rich_people_country / people_country * 100
country_list_richest = rich_people_country_per.index[rich_people_country_per == rich_people_country_per.max()].tolist()[0]
country_list_richest

'Iran'

In [35]:
print(f'{round(rich_people_country_per.max(), 1)}%')

41.9%

### Identify the most popular occupation for those who earn >50K in India

In [37]:
rich_people_india = df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
occupations_india = rich_people_india['occupation'].value_counts()
top_occupation = occupations_india.index[occupations_india == occupations_india.max()].tolist()

top_IN_occupation = top_occupation[0]

print(f'{top_IN_occupation}')

Prof-specialty

### That's it

All questions answered!